<section id="promesa" class="bg-light">
  <div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-center section-headline">Mi promesa</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class=" iconfont fa-american-sign-language-interpreting fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h4 class=" ">Docencia</h4>
                    <p class=" ">10 años de experiencia brindando clases frente a grupo</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class=" iconfont fa-sign-language fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h4 class=" ">Inclusividad</h4>
                    <p class=" ">Diplomado en Lengua de Señas Mexicana nivel avanzado</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class=" iconfont fa-graduation-cap fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h4 class=" ">Posgrado</h4>
                    <p class=" ">Maestría en educación con concentración en educación especial por CETYS Universidad</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="wrap">
                <div class="ico-wrap">
                    <span class=" iconfont fa-address-book fa"></span>
                </div>
                <div class="text-wrap vcenter">
                    <h4 class=" ">Asesora</h4>
                    <p class=" ">9 años de experiencia brindando clases particulares para alumnos de primaria</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
